html{
    width:100%;
   overflow-x:hidden;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* 去掉所有列表前面的黑色圆点 */
li {
    list-style: none;
}
/* 去掉链接的下划线 */
a {
    text-decoration: none;
}
/* 设置 header（导航栏）的宽高以及背景色*/
#header {
    background-color: #ea9d55;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index:999999;
}
/* 设置列表样式，注意这里的 menu 并不是指代 ul 标签，而是 ul 下面的 div 块标签 */
#header .menu {
    display: flex;				
    height: 100%;				
    line-height: 70px;			
    max-width: 1500px;			
    padding: 0 120px;			
}
/* 设置 ul 中每一个 li 的样式*/
#header .menu li{
     height: 100%;				/* 设置高度，让每一个标签的高度也等于 header 高度 */
 }
/* 设置 li 的鼠标移过动画 */
#header li:hover {
    background:rgb(248, 246, 229);;
    transition: 0.25s;			/*持续 0.5 秒*/
}
/* 设置 li 中 a 标签样式 */
#header .menu li a{
    font: 24px 微软雅黑;
    color: #3f270c;				
    padding: 20px 35px;
    text-align: center;
}
/* 设置子列表,这里设置的是 ul */
#header .menu .study-subfunction,.life-subfunction,.user-subfunction{
    display: none;				
    position: absolute;			
    background:#f0bb89;
    border-radius: 15px;			/* 圆角处理 */
}
/* 设置 ul 中的 li 标签 */
#header .menu .study-subfunction li a{
    font: 18px 微软雅黑;
    color: #3a3939;
    padding: 0 23px;
    text-align: center;
}
#header .menu .life-subfunction li a{
    font: 18px 微软雅黑;
    color: #3a3939;
    padding: 0 23px;
    text-align: center;
}
#header .menu .user-subfunction li a{
    font: 18px 微软雅黑;
    color: #3a3939;
    padding: 0 23px;
    text-align: center;
}

#header .menu .study:hover .study-subfunction {
    display: block;
}
#header .menu .life:hover .life-subfunction {
    display: block;
}
#header .menu .user:hover .user-subfunction {
    display: block;
}

.user{
    position: relative;
    width: 300px;
    left: 250px;
    top: 4px;
    /* right: 20px; */

    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
.user img{
    /* 调节图片垂直对齐方式，middle:居中 */
    vertical-align: middle;
}

#bottom {
    width: 100%;
    height: 1000px;
    background-color: rgb(248, 246, 229);
    padding: 70px 0px 0px;
}

#bottom .background {
    background-color: rgb(226, 237, 221);
    width: 1238px;
    height: 750px;
    margin: 0 auto;
}